In [1]:
import pandas as pd
import random

random.seed(123)

df = pd.read_csv('groups.csv')
df.head()

,Group,Title,Member 1,Email 1,Member 2,Email 2,Member 3,Email 3
0,1,Project title 1,FirstLast1,firstlast@...edu1,FirstLast25,firstlast@...edu25,FirstLast49,firstlast@...edu49
1,2,Project title 2,FirstLast2,firstlast@...edu2,FirstLast26,firstlast@...edu26,FirstLast50,firstlast@...edu50
2,3,Project title 3,FirstLast3,firstlast@...edu3,FirstLast27,firstlast@...edu27,FirstLast51,firstlast@...edu51
3,4,Project title 4,FirstLast4,firstlast@...edu4,FirstLast28,firstlast@...edu28,FirstLast52,firstlast@...edu52
4,5,Project title 5,FirstLast5,firstlast@...edu5,FirstLast29,firstlast@...edu29,FirstLast53,firstlast@...edu53

In [2]:
d_group_id = {}
d_group_id_to_review = {}
d_reviewer = {}

for i, row in enumerate(df.iterrows()):
    group_id = row[1][0]
    title = row[1][1]
    name1 = row[1][2]
    name2 = row[1][4]
    name3 = row[1][6]
    
    d_group_id[group_id] = []
    d_group_id_to_review[group_id] = []
    
    for name in (name1, name2, name3):
        if name and isinstance(name, str):
            d_reviewer[name] = []
            d_group_id[group_id].append(name)

In [3]:
#np.random.seed(123)
#group_ids = np.array(list(d_group_id.keys()))
#np.random.shuffle(group_ids)

In [4]:
for name in d_reviewer:
    
    while len(d_reviewer[name]) < 2:
        
        gid = random.choice(list(d_group_id.keys()))
        if len(d_group_id_to_review[gid]) > 5:
            continue
        
        if name not in d_group_id_to_review[gid]:
            if name not in d_group_id[gid]: 
    
                # students shouldn't review each other
                skip = False
                for name2 in d_group_id_to_review[gid]:
                    if not skip:
                        for project_id_to_review in d_reviewer[name2]:
                            if name in d_group_id_to_review[project_id_to_review]:
                                #print('skipped')
                                continue
                                skip = True

                    
                d_reviewer[name].append(gid)
                d_group_id_to_review[gid].append(name)

## Groups reviewed by students

In [5]:
d_group_id_to_review

{1: ['FirstLast4',
  'FirstLast5',
  'FirstLast54',
  'FirstLast57',
  'FirstLast62',
  'FirstLast39'],
 2: ['FirstLast1',
  'FirstLast6',
  'FirstLast8',
  'FirstLast12',
  'FirstLast64',
  'FirstLast42'],
 3: ['FirstLast25',
  'FirstLast28',
  'FirstLast5',
  'FirstLast6',
  'FirstLast60',
  'FirstLast61'],
 4: ['FirstLast49',
  'FirstLast53',
  'FirstLast20',
  'FirstLast69',
  'FirstLast70',
  'FirstLast71'],
 5: ['FirstLast3',
  'FirstLast30',
  'FirstLast54',
  'FirstLast65',
  'FirstLast66',
  'FirstLast21'],
 6: ['FirstLast50',
  'FirstLast4',
  'FirstLast36',
  'FirstLast37',
  'FirstLast65',
  'FirstLast68'],
 7: ['FirstLast56',
  'FirstLast62',
  'FirstLast19',
  'FirstLast47',
  'FirstLast24',
  'FirstLast48'],
 8: ['FirstLast51',
  'FirstLast63',
  'FirstLast41',
  'FirstLast45',
  'FirstLast70',
  'FirstLast23'],
 9: ['FirstLast1',
  'FirstLast49',
  'FirstLast55',
  'FirstLast37',
  'FirstLast19',
  'FirstLast67'],
 10: ['FirstLast7',
  'FirstLast8',
  'FirstLast17',
  'FirstLast69',
  'FirstLast46',
  'FirstLast48'],
 11: ['FirstLast26',
  'FirstLast50',
  'FirstLast3',
  'FirstLast27',
  'FirstLast29',
  'FirstLast32'],
 12: ['FirstLast39',
  'FirstLast63',
  'FirstLast43',
  'FirstLast20',
  'FirstLast44',
  'FirstLast21'],
 13: ['FirstLast2',
  'FirstLast52',
  'FirstLast57',
  'FirstLast38',
  'FirstLast16',
  'FirstLast18'],
 14: ['FirstLast25',
  'FirstLast28',
  'FirstLast7',
  'FirstLast34',
  'FirstLast59',
  'FirstLast67'],
 15: ['FirstLast53',
  'FirstLast14',
  'FirstLast18',
  'FirstLast42',
  'FirstLast66',
  'FirstLast22'],
 16: ['FirstLast31',
  'FirstLast55',
  'FirstLast56',
  'FirstLast35',
  'FirstLast13',
  'FirstLast17'],
 17: ['FirstLast32',
  'FirstLast33',
  'FirstLast10',
  'FirstLast35',
  'FirstLast12',
  'FirstLast40'],
 18: ['FirstLast2',
  'FirstLast26',
  'FirstLast27',
  'FirstLast58',
  'FirstLast61',
  'FirstLast16'],
 19: ['FirstLast31',
  'FirstLast33',
  'FirstLast38',
  'FirstLast15',
  'FirstLast22',
  'FirstLast23'],
 20: ['FirstLast52',
  'FirstLast9',
  'FirstLast11',
  'FirstLast47',
  'FirstLast71',
  'FirstLast72'],
 21: ['FirstLast9',
  'FirstLast10',
  'FirstLast58',
  'FirstLast36',
  'FirstLast15',
  'FirstLast64'],
 22: ['FirstLast30',
  'FirstLast34',
  'FirstLast11',
  'FirstLast59',
  'FirstLast13',
  'FirstLast43'],
 23: ['FirstLast51',
  'FirstLast44',
  'FirstLast68',
  'FirstLast46',
  'FirstLast24',
  'FirstLast72'],
 24: ['FirstLast29',
  'FirstLast60',
  'FirstLast14',
  'FirstLast40',
  'FirstLast41',
  'FirstLast45']}

## Groups each student is reviewing:

In [6]:
d_reviewer

{'FirstLast1': [2, 9],
 'FirstLast25': [3, 14],
 'FirstLast49': [9, 4],
 'FirstLast2': [13, 18],
 'FirstLast26': [18, 11],
 'FirstLast50': [11, 6],
 'FirstLast3': [5, 11],
 'FirstLast27': [18, 11],
 'FirstLast51': [23, 8],
 'FirstLast4': [6, 1],
 'FirstLast28': [14, 3],
 'FirstLast52': [20, 13],
 'FirstLast5': [3, 1],
 'FirstLast29': [11, 24],
 'FirstLast53': [15, 4],
 'FirstLast6': [2, 3],
 'FirstLast30': [22, 5],
 'FirstLast54': [5, 1],
 'FirstLast7': [10, 14],
 'FirstLast31': [19, 16],
 'FirstLast55': [9, 16],
 'FirstLast8': [2, 10],
 'FirstLast32': [11, 17],
 'FirstLast56': [16, 7],
 'FirstLast9': [20, 21],
 'FirstLast33': [17, 19],
 'FirstLast57': [1, 13],
 'FirstLast10': [21, 17],
 'FirstLast34': [14, 22],
 'FirstLast58': [18, 21],
 'FirstLast11': [22, 20],
 'FirstLast35': [16, 17],
 'FirstLast59': [22, 14],
 'FirstLast12': [17, 2],
 'FirstLast36': [21, 6],
 'FirstLast60': [24, 3],
 'FirstLast13': [16, 22],
 'FirstLast37': [9, 6],
 'FirstLast61': [18, 3],
 'FirstLast14': [24, 15],
 'FirstLast38': [13, 19],
 'FirstLast62': [1, 7],
 'FirstLast15': [19, 21],
 'FirstLast39': [12, 1],
 'FirstLast63': [12, 8],
 'FirstLast16': [13, 18],
 'FirstLast40': [17, 24],
 'FirstLast64': [2, 21],
 'FirstLast17': [10, 16],
 'FirstLast41': [24, 8],
 'FirstLast65': [6, 5],
 'FirstLast18': [15, 13],
 'FirstLast42': [15, 2],
 'FirstLast66': [5, 15],
 'FirstLast19': [7, 9],
 'FirstLast43': [12, 22],
 'FirstLast67': [9, 14],
 'FirstLast20': [4, 12],
 'FirstLast44': [23, 12],
 'FirstLast68': [6, 23],
 'FirstLast21': [5, 12],
 'FirstLast45': [8, 24],
 'FirstLast69': [10, 4],
 'FirstLast22': [19, 15],
 'FirstLast46': [23, 10],
 'FirstLast70': [4, 8],
 'FirstLast23': [19, 8],
 'FirstLast47': [7, 20],
 'FirstLast71': [20, 4],
 'FirstLast24': [23, 7],
 'FirstLast48': [7, 10],
 'FirstLast72': [20, 23]}